rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      function is_admin() {
        return get(/databases/$(database)/documents/roles/$(request.auth.uid)).data.admin == true;
      }

      allow list, read, write: if request.auth.uid != null && is_admin();
    }
  }
}

